<div class="panel panel-info">
  <div class="panel-heading">
    <a href="{{ url_for('show_thread',threads_id=thread.id) }}">{{ thread.title }}</a>
    by <small><a href="{{url_for('threads_by_users_id',users_id=thread.users_id)}}">@{{thread.username}}</a></small>
    <small> {{thread.created| time_diff}} ago</small>
  </div>

    <div class="panel-body">
      {{ thread.content }}
    </div>
{% if tags %}
    <div class="panel-footer">
      <span>Tags</span>
      {% include "views/tag_buttons.html" %}
    </div>
{%  endif %}
</div>
