{% extends "layout.html" %}
{% block body %}
<div class="container">
{% include "views/thread_component.html" %}
<div style="padding:6px">
  <h3>Replies </h3>
  <div>
  <form method="post" class="form-inline">
    <textarea name="text" class="form-control" cols="100" placeholder="Enter a reply" required></textarea>
    <button type="submit" class="btn btn-default">Reply </button>
  </form>
</div>
{% for comment in comments %}
  <div class="well">{{comment.text}}
    <div>
      by @{{comment.username}} at <small>{{comment.created}}</small>
    </div>
  </div>
{% else %}
    <em>No replies here so far</em>
  {% endfor %}

</div>
</div>
{% endblock %}
