{% extends "layout.html" %}
{% block title %}
  Create new thread
{% endblock %}
{% block body %}
<div class="container">
    <h1>Create a new thread</h1>
<div class='row'>
  <div class='col-md-3'></div>
    <div class='col-md-6'>
    <form class="form-horizontal" method="post">
      <input class="form-control" name='title' placeholder='Title' type="text" maxlength="200" required>
        <textarea class="form-control" name='content' placeholder="explain question" rows="3" maxlength="950" required></textarea>
        <textarea class="form-control" name='tags' placeholder="tags" rows="3"></textarea>
      <button class="btn btn-primary"type="submit">Create New Thread</button>
    </form>
  </div>
  <div class='col-md-3'></div>
    </div>
  </div>
{% endblock %}
